@import '../../node_modules/sass-basis/src/css/basis-core';

@mixin hakuji-entry-content() {
	> h2 {
		background-color: transparent;
		border-left: none;
		padding: 0;
	}

	> h3 {
		border-bottom: none;
		padding: 0;
	}
}

@mixin hakuji-section-title() {
	padding-bottom: 0;

	&::after {
		display: none;
	}
}

@mixin hakuji-widget-title() {
	&::before,
	&::after {
		background-color: var(--_lighter-color-gray);
	}
}

@mixin hakuji-white-btn() {
	border-radius: 0;
	background-color: #fff !important;
	color: var(--_dark-color-gray);
	font-weight: bold;
	font-family: sans-serif;
	letter-spacing: .25rem;
	@include _transition(opacity);

	@include _hover() {
		opacity: .7;
	}
}

.c-site-branding {
	&__description {
		color: var(--_light-color-gray);
	}
}

.p-global-nav {
	.c-navbar {
		&__item {
			@include _hover() {
				> a {
					color: var(--_color-gray) !important;
				}
			}

			&[data-active-menu] {
				> a {
					color: var(--_color-gray) !important;
				}
			}

			> a {
				@include _transition(color);

				> small {
					color: var(--_light-color-gray);
				}
			}

			.c-navbar__submenu {
				background-color: rgba(#fff, .9);

				&::before {
					display: none;
				}
			}
		}

		&__subitem {
			@include _transition(background-color);
			@include _hover() {
				background-color: #fff
			}

			> a {
				color: inherit;
			}
		}
	}
}

.wp-profile-box {
	border: none;
	background-color: transparent;

	&__title {
		display: none;
	}

	&__container {
		padding-right: 0;
		padding-left: 0;
	}
}

.c-entry-aside {
	&__title {
		&::before,
		&::after {
			background-color: var(--_lighter-color-gray);
		}
	}
}

.wpaw-term {
	background-color: transparent !important;
	border: 1px solid currentColor;
	color: inherit;
	padding: 4px 8px;
}

.c-entry-summary {
	&__term {
		display: none !important;
	}

	&__content {
		display: none;
	}
}

[data-is-content-widget-area="true"],
.p-archive {
	.c-entries--simple {
		.c-entries__item {
			border-bottom: none !important;
		}
	}

	.c-entries--rich-media {
		.c-entries__item {
			flex: 0 1 100%;
			max-width: 100%;

			&:not(:first-child) {
				margin-top: var(--_margin2);

				@include _media-min(md) {
					margin-top: var(--_margin4);
				}
			}

			.c-entry-summary {
				position: relative;

				@include _media-min(md) {
					@include _row();

					&__figure,
					&__body {
						flex: 0 1 50%;
						max-width: 50%;
					}

					&__figure {
						flex: 0 1 40%;
						max-width: 40%;
					}

					&__body {
						margin-left: auto;
						align-self: flex-end;
					}

					&__meta {
						margin-top: var(--_margin2);
					}
				}

				&__meta {
					text-align: left;
				}
			}

			&:last-child {
				&::before {
					display: none !important;
				}
			}

			&:nth-child(2n) {
				position: relative;

				&::before {
					position: absolute;
					right: 0;
					left: 0;
					top: 20%;
					margin-right: calc(40% - 50vw);
					margin-left: calc(40% - 50vw);
					content: '';
					display: block;
					background-color: var(--_lightest-color-gray);
					height: 150%;
					transform: rotate(-1deg);
				}

				.c-entry-summary {
					@include _media-min(md) {
						flex-direction: row-reverse;

						&__body {
							margin-left: 0;
							margin-right: auto;
						}
					}
				}
			}
		}
	}
}

.c-entry {
	&__header {
		margin-bottom: var(--_margin2);

		[data-has-sidebar="false"] & {
			margin-top: var(--_margin3);

			@include _media-min(md) {
				margin-top: var(--_margin4);
			}
		}
	}

	&__meta {
		margin-top: var(--_margin1);
		color: var(--_color-gray);

		a {
			color: inherit;
		}
	}

	&__footer {
		margin-top: var(--_margin3);
	}
}

.wpco {
	background-color: transparent;
	border: none;

	.contents-outline {
		ol,
		li:not(:first-child) {
			border-top: none;
		}
	}
}

.c-prev-next-nav {
	&::before {
		display: none;
	}

	&__item {
		> a {
			flex: 0 0 auto;
			display: inline-block;
			background-color: transparent;
			color: inherit;
			@include _transition(opacity);
			max-width: 100%;

			@include _hover() {
				opacity: .7;
			}

			&::before {
				display: none;
			}
		}

		&--prev {
			justify-content: flex-end;
		}
	}

	&__item-figure {
		display: none;
	}
}

.p-social-nav {
	margin: var(--_margin1) 0;
	background-color: transparent;
	border: none;
	padding: 0;

	@include _media-min(lg) {
		margin: var(--_margin2) 0;
	}
}

.l-footer-widget-area {
	margin-top: var(--_margin1);
	border-top: none;
	padding-top: none !important;

	@include _media-min(lg) {
		margin-top: var(--_margin2);
	}
}

.c-copyright {
	background-color: transparent;
	border-top: none;
	color: var(--_color-text);
}

.c-page-top {
	background-color: transparent !important;
	border: none;
	@include _transition(opacity);

	@include _hover() {
		opacity: .7;
	}

	> a {
		color: inherit;
	}
}

.c-pagination {
	margin: var(--_margin2) 0;

	@include _media-min(lg) {
		margin: var(--_margin3) 0;
	}

	&__item,
	&__item-link,
	&__item-ellipsis {
		@include _set-font-size-level(1);
		font-style: italic;
	}

	&__item {
		background-color: var(--_lighter-color-gray) !important;
		color: inherit;
	}

	&__item-link,
	&__item-ellipsis {
		background-color: transparent;
		color: inherit;
	}

	&__item-link {
		@include _transition(color);

		@include _hover() {
			background-color: transparent;
			color: var(--_light-color-text);
		}
	}
}

.wpaw-pr-box {
	&__lead {
		color: var(--_color-gray);
	}

	&__row {
		margin-top: var(--_margin1);

		@include _media-min(lg) {
			margin-top: var(--_margin2);
		}
	}
}

.wpaw-pickup-slider {
	&__item-more {
		@include hakuji-white-btn();
		@include _transition(opacity);

		@include _hover() {
			opacity: .7;
		}
	}

	.slick-arrow {
		background-color: transparent !important;
	}

	[data-is-content-widget-area="true"] & {
		&__item {
			justify-content: flex-start;

			@include _media-min(lg) {
				align-items: flex-end;
			}
		}

		&__item-body {
			@include _media-min(lg) {
				padding-left: 100px;
				top: -100px;
			}
		}

		&__item-content {
			align-items: flex-start;
		}
	}
}

.wpaw-slider {
	&__item-more {
		@include hakuji-white-btn();
		padding: var(--_padding-2) var(--_padding1);

		@include _media-min(md) {
			padding: var(--_padding-1) var(--_padding2);
		}

		@include _hover() {
			opacity: .7;
		}

		&--ghost {
			background-color: transparent !important;
			color: var(--_color-black) !important;
		}
	}

	[data-is-content-widget-area="true"] & {
		&__item {
			justify-content: flex-start;

			@include _media-min(lg) {
				align-items: flex-end;
			}
		}

		&__item-body {
			@include _media-min(lg) {
				padding-left: 100px;
				top: -100px;
			}
		}

		&__item-content {
			align-items: flex-start;
		}
	}
}

.wpaw-showcase {
	&__action {
		.c-btn {
			@include hakuji-white-btn();
			padding: var(--_padding-2) var(--_padding1);

			@include _media-min(md) {
				padding: var(--_padding-1) var(--_padding2);
			}
		}
	}

	[data-is-content-widget-area="true"] & {
		&__action {
			.c-btn {
				@include _media-min(md) {
					padding-top: var(--_padding-1);
					padding-bottom: var(--_padding-1);
				}
			}
		}
	}
}

.wpaw-carousel {
	.wpaw-term {
		display: none;
	}
}

.p-entry-content,
.textwidget {
	@include hakuji-entry-content();
}

.smb-section,
.wpac-section,
.wpaw-pr-box,
.snow-monkey-recent-posts {
	&__title {
		@include hakuji-section-title();
	}
}

.c-widget__title,
[data-is-content-widget-area="true"] .c-section__title {
	@include hakuji-widget-title();
}
